* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", monospace;
  color: oklch(37.2% 0.044 257.287);
  line-height: 1.5;
  background: #fff;
  max-width: 768px;
  margin: 0 auto;
  padding: 16px;
  font-size: 1rem;
}

h1, h2, h3 {
  font-weight: 600;
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: center;
  padding: 16px;
  gap: 12px;
  margin-bottom: 16px;
}

.header-sub {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}

section {
  padding: 16px;
  border-radius: 12px;
}

section h2 {
  margin-bottom: 16px;
}

.tools-list {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  gap: 12px;
}

.tools-list li {
  padding: 4px 8px;
  border-radius: 10px;
  background-color: oklch(92.9% 0.013 255.508);
}

.border {
  border: 1px solid oklch(70.4% 0.04 256.788);
}

.profile-img {
  width: 80px;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 8px;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 8px;
  column-gap: 12px;
  align-items: center;
}

dt {
  font-weight: 600;
}

dd {
  margin: 0;
}


footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer a {
  color: oklch(55.4% 0.046 257.417);
}

footer a:hover {
  color: oklch(44.6% 0.043 257.281);
}


footer h2 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 16px;
}

footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.grid {
  gap: 16px;                    
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 32px;
}

.col-span-2 {
  grid-column: 1 / -1;
}


.col-span-1 {
  grid-column: auto;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}