* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 16px;
  margin: 0 auto;
  font-size: 0.9rem;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  color: oklch(37.2% 0.044 257.287);
  background: oklch(92.9% 0.013 255.508);
  padding: 40px;
}

button {
  font: inherit;
  font-size: inherit;
  background-color: inherit;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}


.card {
  width: 100%;
  background-color: white;
  border: 1px solid oklch(86.9% 0.022 252.894);
  border-radius: 16px;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.03),
    0 8px 24px rgba(0, 0, 0, 0.06);
}

.card .content-layout {
  padding: 40px;
  max-width: 48rem;
  margin: 0px auto;
}

#summary {
  margin-top: 40px;
  margin-bottom: 20px;
}

#summary h1 {
  margin-bottom: 20px;
}

#summary p {
  text-align: justify;
}

#actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin: 20px 0;
}

.primary-button {
  background-color: oklch(20.8% 0.042 265.755);
  color: oklch(98.4% 0.003 247.858);
  border-radius: calc(infinity * 1px);
  border: none          ;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.primary-button:hover {
  background-color: oklch(44.6% 0.043 257.281);
}

.icon-button {
  padding: 8px 16px;
  border-radius: calc(infinity * 1px);
  border: 1px solid oklch(86.9% 0.022 252.894);
  cursor: pointer;
  transition: all 0.2s ease;
}

.icon-button:hover {
  background-color: oklch(96.8% 0.007 247.896);
  border-color: oklch(70.4% 0.04 256.788);
}

#socials {
  margin-top: 60px;
  margin-bottom: 20px;
}

#socials ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.social-button {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  transition: all 0.2s ease;
  border-radius: calc(infinity * 1px);
  color: oklch(98.4% 0.003 247.858);
  background-color: oklch(20.8% 0.042 265.755);
}

.social-button:hover {
  background-color: oklch(44.6% 0.043 257.281);
}

.profile-card {
  max-width: 280px;
  margin: 0 auto;
  border: 1px solid ;
  border-radius: 20px;
  border: 1px solid oklch(86.9% 0.022 252.894);
box-shadow:
  0 1px 12px 1px rgba(0, 0, 0, 0.07),
  0 3px 16px 2px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.profile-card img {
  width: 100%;
  aspect-ratio: 1 / 1.3;
  object-fit: cover; 
}

.profile-card .profile-content {
  padding: 12px 16px;
  text-align: center;
}

.profile-card .profile-content h2 {
  font-size: 1.2rem;
  
}


