.layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#add h1 {
  text-align: center;
}

#add form {
  max-width: 520px;
  margin: 0 auto;
}

#projects h1 {
  text-align: center;
  margin-bottom: 24px;
}

#project-list .empty-text {
  text-align: center;
  color: oklch(70.4% 0.04 256.788);
}

.project-card {
  background-color: white;
  border: 1px solid oklch(86.9% 0.022 252.894);
box-shadow:
  0 1px 12px 1px rgba(0, 0, 0, 0.07),
  0 3px 16px 2px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  padding: 24px;
}

.project-card img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  aspect-ratio: 3 / 2;
  border-radius: 12px;
}

.project-card .content {
  margin-top: 20px;
}

.project-card h2 {
  font-size: medium;
}

.project-card ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.project-card li {
  font-size: small;
  background-color: oklch(92.9% 0.013 255.508);
  border-radius: 8px;
  padding: 4px 8px;
}


.has-image {
  display: block;
  width: 150px;
  aspect-ratio: 3 / 2;
  border-radius: 8px;
  margin-top: 12px;
  object-fit: cover;
}