header {
  position: relative;
}

header h1 {
  text-align: center;
  margin-bottom: 32px;
}

#go-back {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.2s ease;
}

#go-back:hover {
  color: oklch(70.4% 0.04 256.788);
}

#hero {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#hero img {
  width: 60%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 16px;
  overflow: hidden;
}

#hero aside {
  width: 40%;
}

aside h2 {
  font-size: 1.3rem;
  margin-bottom: 16px;
}

aside section {
  border-radius: 16px;
  padding: 20px;

}

@media (max-width: 720px) {
  #go-back {
    margin-bottom: 40px;
  }

  #hero {
    flex-direction: column;
    justify-content: center;
  }

  #hero img {
  width: 100%;
  }

  #hero aside {
    width: 100%;
  }
}

#technology ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

#technology li {
  font-size: small;
  background-color: oklch(86.9% 0.022 252.894);
  border-radius: 8px;
  padding: 4px 8px;
}

article p {
  text-align: justify;
}