:root {
  --border-color: oklch(86.9% 0.022 252.894);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.9rem;
  line-height: 1.7;
  font-family: "Poppins", sans-serif;
  color: oklch(37.2% 0.044 257.287);
  background: oklch(92.9% 0.013 255.508);
  min-height: 100vh;
}

main {
  padding: 52px;
}

button {
  font: inherit;
  font-size: inherit;
  background-color: inherit;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar {
  padding: 16px 32px !important;
}

.active {
  font-weight: 600 !important;
}

.relative {
  position: relative;
}

.card {
  width: 100%;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  padding: 64px;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.03),
    0 8px 24px rgba(0, 0, 0, 0.06);
}

@media (max-width: 992px) {
  .card {
    padding: 32px;
  }
}

#summary {
  margin-top: 40px;
  margin-bottom: 20px;
}

#summary h1 {
  margin-bottom: 20px;
}

#summary p {
  text-align: justify;
}

#actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin: 20px 0;
}

.primary-button {
  text-decoration: none;
  background-color: oklch(20.8% 0.042 265.755);
  color: oklch(98.4% 0.003 247.858);
  border-radius: calc(infinity * 1px);
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.primary-button:hover {
  background-color: oklch(44.6% 0.043 257.281);
}

.icon-button {
  padding: 8px 16px;
  border-radius: calc(infinity * 1px);
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: all 0.2s ease;
}

.icon-button:hover {
  background-color: oklch(96.8% 0.007 247.896);
  border-color: oklch(70.4% 0.04 256.788);
}

#socials {
  margin-top: 60px;
  margin-bottom: 20px;
}

#socials ul {
  list-style: none;
  padding-left: 0;
  margin: 0; 
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
}

.social-button {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  transition: all 0.2s ease;
  border-radius: calc(infinity * 1px);
  color: oklch(98.4% 0.003 247.858);
  background-color: oklch(20.8% 0.042 265.755);
}

.social-button:hover {
  background-color: oklch(44.6% 0.043 257.281);
}


.profile-card {
  max-width: 480px;
  border-radius: 20px;
  border: 1px solid var(--border-color);
box-shadow:
  0 1px 12px 1px rgba(0, 0, 0, 0.07),
  0 3px 16px 2px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.profile-card img {
  width: 100%;
  aspect-ratio: 3 / 3.5;
  object-fit: cover; 
}

.profile-card .profile-content {
  padding: 16px;
  text-align: center;
  line-height: 1;
}

.profile-card .profile-content h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

#title h1 {
  text-align: center;
}

#contact form {
  max-width: 520px;
  margin: 0 auto;
}

#not-found {
  height: 100vh;
}

#toast {
  position: fixed;
  bottom: 24px;
  right: 24px;
  color: oklch(44.8% 0.119 151.328);
  background-color: oklch(87.1% 0.15 154.449);
  border: 1px solid oklch(79.2% 0.209 151.711);
  padding: 12px 20px;
  padding-right: 12px;
  border-radius: 8px;
  z-index: 999;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: small;
  box-shadow:
  0 6px 16px rgba(0, 0, 0, 0.05),
  0 12px 32px rgba(0, 0, 0, 0.08);
}

#toast button {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(infinity * 1px);
  color: oklch(62.7% 0.194 149.214);
  border: none;
}

#toast button:hover {
  color: oklch(72.3% 0.219 149.579);
}



